.container {
  max-width: 960px;
}

* {
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.button:hover {
  background: #c3960e;
  border-radius: 50px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  transform: scale(1.25);
  color: var(--bs-dark);
}

.button {
  background: var(--bs-yellow);
  border-radius: 50px;
  color: var(--bs-dark);
}

.gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px; /* Set the width of the GIF container */
    height: 600px; /* Set the height of the GIF container */
    margin: 0 auto; /* Center the container horizontally */
}

.centered-gif {
    max-width: 100%; /* Ensures the GIF fits within the container */
    max-height: 100%; /* Ensures the GIF fits within the container */
}

